@import './variables.scss';

html {
    scroll-behavior: smooth;
    overflow: unset !important;
}

body {
    margin: 0;
}

#app {
    font-family: "Montserrat", serif;
    text-align: center;
}

nav {
    align-items: center;
    background: white;
    display: flex;
    height: 90px;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav a {
    color: map-get($theme-color, "grey");
    font-size: 13px;
    margin: 0 23px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: map-get($theme-color, "blue");
    }
}

h1,
h2,
h5 {
    display: block;
    color: #fff;
    font-family: Montserrat, sans-serif;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h2.section-title {
    font-size: 40px;
    font-weight: 400;
    margin: 48px 0 50px;
}

h5 {
    font-size: 14px;
    font-weight: 500;
}

section {
    padding-top: 89px;
    margin-top: -89px;
}